<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Reset CSS -->
        <link href="/css/reset.css"  rel="stylesheet">

        <!-- Really beautiful CSS -->
        <link href="/css/style.css"  rel="stylesheet">

        <title>O'Quiz</title>
    </head>
    <body>
        <main class="container">
            <nav>

                <ul>
                    <li>
                        <a href="/">
                        <h1>O'Quiz</h1>
                        </a>
                    </li>
                </ul>
                <% if(locals.user) { %>
                    <p>Bonjour, <%= user.firstname %> <%= user
                    .lastname %></p>
                <% } %>

                <ul>
                    <li>
                        <a href="/">
                            <i></i>
                            Accueil
                        </a>
                    </li>

                    <% if(locals.user) { %>
                        <li>
                            <a href="/profile">
                                <i></i>
                                Mon compte
                            </a>
                        </li>

                        <li>
                            <a href="/disconnect">
                                <i></i>
                                Déconnexion
                            </a>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="/signup">
                                <i></i>
                                Inscription
                            </a>
                        </li>
                        <li>
                            <a href="/login">
                                <i></i>
                                Connexion
                            </a>
                        </li>
                    <% } %>

                </ul>
            </nav>
